@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img-banner {
    background-image: url(../../public/banner.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.background-me {
    background-image: url(../../public/images/me.jpg);
    background-size: cover;
    background-position: bottom;
}

.background-poyet {
    background-image: url(../../public/images/DSC_0593.jpg);
    background-size: cover;
    background-position: center;
}

.background-somato {
    background-image: url(../../public/images/somato.jpg);
    background-size: cover;
    background-position: center;
}